<%= link_to clp do %>
  <div class="card z-depth-0">
    <div class="card-content clp-details">
      <div class="card-title">
        <%= clp.theme %> <br>
        <small class="grey-text">Theme</small>
      </div>

      <div class="card-title">
        <%= clp.sfc_chapter %> <br>
        <small class="grey-text">SFC Chapter</small>
      </div>
      
      <div class="card-title">
        <%= clp.team_leaders %> <br>
        <small class="grey-text">Team Leaders</small>
      </div>

      <small class="grey-text">Created by: <%= clp.user.email %></small>
    </div>
  </div>
<% end %>