<% provide(:title, escape_special_character(@clp.theme)) %>

<div class="clp-info row">
  <div class="clp-details col s12 m4">
    <%= render partial: "components/clp-details", locals: { clp: @clp } %>
    <%= link_to clps_path, class: "chip blue white-text" do %>
      All CLP
    <% end %>
    <% if current_user && @clp.user.id == current_user.id || current_user.admin? %>
      <%= link_to edit_clp_path(@clp), class: "chip" do %>
        Edit
      <% end %>
    <% end %>
  </div>
  <div class="clp-songs col s12 m8">
    <ul class="collection with-header">
      <li class="collection-header"><h4>CLP Talks & Songs</h4></li>
      <% @clp_contents.each do |clp_content| %>
        <li class="collection-item clp-detail-item">
          <%= link_to clp_content.talk_title, clp_clp_content_path(@clp, clp_content), class: "black-text clp-detail-item-text" %>
          <%= link_to 'Delete', [@clp, clp_content], method: :delete, data: { confirm: 'Are you sure?' }, class: "clp-detail-item-action" %>
        </li>
      <% end %>
    </ul>
    <% if current_user && @clp.user.id == current_user.id || current_user.admin? %>
      <%= link_to "Add", new_clp_clp_content_path(@clp), class: "chip blue white-text" %>
    <% end %>
  </div>
</div>