
<% if current_url.include?("edit") %>
  <%= link_to clp_clp_content_path(@clp, clp_content), class: "chip blue white-text" do %>
    Preview
  <% end %>
<% end %>

<%= form_with(model: [@clp, clp_content], local: true) do |form| %>
  <div class="card z-depth-0">
    <div class="card-content">
      <div class="input-field">
        <p>Talk Title</p>
        <%= form.text_field :talk_title, class: "form__input" %>
      </div>
    </div>
  </div>

  <div class="card z-depth-0">
    <div class="card-content">
      <div class="input-field">
        <p>Select Songs</p>
        <div class="song-list__content-form">
          <%= form.collection_check_boxes :song_ids, Song.all, :id, :title do |b| %>
            <div class="song-list__content-item">
              <%= b.check_box class: "filled-in"%>
              <span><%= b.label %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div> 
  
  <%= form.submit "Save", class: "btn btn-block z-depth-0" %>
<% end %>