
<% if current_url.include?("edit") %>
  <%= link_to clp_clp_content_path(@clp, clp_content), class: "chip blue white-text" do %>
    Preview
  <% end %>
<% end %>

<%= form_with(model: [@clp, clp_content], local: true) do |form| %>
  <div class="card z-depth-0">
    <div class="card-content">
      <div class="input-field">
        <p>Talk Title</p>
        <%= form.text_field :talk_title, class: "form__input" %>
      </div>
    </div>
  </div>

  <div class="card z-depth-0">
    <div class="card-content">
      <div class="input-field col s12 song-list__select">
        <p>Select Songs</p>
        <%= form.nested_fields_for :song_assigns do |f| %>
          <div class="nested_fields--link">
            <%= f.remove_nested_fields_link 'Remove', data: { confirm: 'Really?' } %>
          </div>
          <%= f.collection_select :song_id, Song.all.order(:title), :id, :title %>
        <% end %>
        <div class="nested_fields--add-link">
          <%= form.add_nested_fields_link :song_assigns, 'Add Song' %>
        </div>
      </div>
    </div>
  </div>
  
  <%= form.submit "Save", class: "btn btn-block z-depth-0" %>
<% end %>