<% provide(:title, escape_special_character(@clp_content.talk_title)) %>

<div class="clp-content">
  <%= link_to clp_path(@clp), class: "chip blue white-text" do %>
    Back
  <% end %>
  <% if current_user && @clp.user_id == current_user.id || current_user && current_user.admin? %>
    <%= link_to edit_clp_clp_content_path(@clp, @clp_content), class: "chip" do %>
      Edit
    <% end %>
  <% end %>
  <div class="card z-depth-0 blue white-text">
    <div class="card-content">
      <div class="clp_content--talk">
        <div class="clp_content--talk-title">
          <span class="card-title"><small>Talk: </small><strong><%= @clp_content.talk_title %></strong></span>
        </div>
        <div class="clp_content--talk-songs">
          <ul class="talk-song-list">
            <% @clp_songs.each do |as| %>
              <% title = as.song.title %>
              <li class="talk-song-item">
                <%= link_to title, "##{anchor_text(title)}", class: "talk-song-item-link white chip blue-text" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% @clp_songs.each do |as| %>
    <div class="card z-depth-0" id="<%= anchor_text(as.song.title) %>">
      <div class="card-content">
        <span class="card-title"><strong><%= as.song.title %></strong></span>
        <p class="grey-text"><%= as.song.artist %></p>
        <div class="display-song">
          <%= raw as.song.lyrics_and_chords %>
        </div>
      </div>
    </div>
  <% end %>
</div>
    