<%= form_with(model: clp_song, local: true) do |form| %>
  <% if clp_song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clp_song.errors.count, "error") %> prohibited this clp_song from being saved:</h2>

      <ul>
      <% clp_song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clp_id %>
    <%= form.text_field :clp_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :songs %>
    <%= form.text_field :songs %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
