<p id="notice"><%= notice %></p>

<p>
  <strong>Clp:</strong>
  <%= @clp_song.clp %>
</p>

<p>
  <strong>User:</strong>
  <%= @clp_song.user %>
</p>

<p>
  <strong>Songs:</strong>
  <%= @clp_song.songs %>
</p>

<%= link_to 'Edit', edit_clp_song_path(@clp_song) %> |
<%= link_to 'Back', clp_songs_path %>
