<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %> grey lighten-5">
    <%= content_tag(:script) do %>
      <% flash.each do |type, message| %>
        <%= toastr_flash_class("#{type}") %>('<%= message %>')
      <% end %>
    <% end %>

    <% if current_url.include?("sign_in") || current_url.include?("sign_up") %>
    <% else %>
      <%= render "components/navbar" %>
    <% end %>

    <main class="container">
      <%= yield %>
    </main>
    
    <a class="js-scroll-top scroll-top"></a>
    <%= render "components/footer" %>
  </body>
</html>
